p:nth-child(even){
	color:#87CEFA;
	font-family:arial;
}

tr:nth-child(odd) > td:nth-child(even){
	background-color:blue;
}

tr:nth-child(odd) > td:nth-child(odd){
		background-color:orange;
}

tr:nth-child(even) > td:nth-child(odd){
	background-color:blue;
}

tr:nth-child(even) > td:nth-child(even){
		background-color:orange;
}
